{% load crispy_forms_tags %}
<!DOCTYPE HTML>
<html>
<head>
<title>Novus Admin Panel an Admin Panel Category Flat Bootstrap Responsive Website Template | Basic Forms :: w3layouts</title>

<!--//Metis Menu -->
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		<!--left-fixed -navigation-->
	{% include 'dashboard/dashboard_left_nav.html' %}
		<!-- //header-ends -->
		{% include 'dashboard/top_nav.html' %}
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<div class="forms">
					<h3 class="title1"></h3>
					
				
					<div class="row">
						
{% load crispy_forms_tags %}
<h1>Feedback</h1> 

<div>

    {% if feedback %}
    <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Title</th>
              <th scope="col">Feedback</th>
              <th scope="col">Rating</th>
            
            </tr>
          </thead>
          <tbody>
              {% for i in feedback %}
            <tr style="background-color:honeydew">
                <td class="serial">{{ forloop.counter }}</td>

                <td>{{ i.user.username}}</td>
              <td>{{ i.title}}</td>
              <td>{{ i.feedback}}</td>
              <td>{{ i.rating }}</td>
            
              

             
            </tr>

            {% endfor %}

          </tbody>

    </table>
    {% else %}

    <span>No Feedback can be found...</span>
    {% endif %}



</div>
					</div>
					
					</div>
				</div>
			</div>
		</div>
		<!--footer-->
		{% include 'dashboard/dashboard_footer.html' %}
</body>
</html>