{% extends 'index.html' %}
{% block content %}
<section class="services  py-5" id="works">
    <div class="container  py-md-3">
    <div class="w3-head-all  mb-5">
            <h3>Our Furniture Categories</h3>
        </div>
        <div class="row inner-sec-w3layouts-agileinfo">
            {% for c in list %}

            <div class="col-md-4  proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/gal1.jpg" class="img-fluid">
                        <div class="section_1_gallery_grid1">
                            <img src="/static/images/back.jpg" alt=" " class="img-responsive img-fluid" />
                            {{c.name}}
                            <a href="{% url 'categorysearch' c.id %}"><h3>{{c.name}}</h3></a>

                            <div class="proj_gallery_grid1_pos">
                                <a href="{% url 'categorysearch' c.id %}"><h3>{{c.name}}</h3></a>
            
                            </div>
                        </div>
                    </a>
                </div>
                

            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}