{% extends 'index.html' %} {% block title %} | payment {% endblock %} {% load crispy_forms_tags %}{% block content %}
<div style="background-image: url('/static/images/pay3.jpg');background-repeat: no-repeat;background-size: 120em 20em;">
<h1>Payment

</h1>
{% for msg in messages %}{{msg}}{% endfor %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="container" style="width: 40%; background-image: url('/static/images/pay2.png');border-radius: 5px; padding: 30px;background-size: 50em 10em;background-repeat: no-repeat;font-size: 1.4em;color: rgb(207, 15, 15);font-weight: bold;padding-bottom: 4em;">
         User name: {{user.username}}<br>
         Amount: {{amount}}<br><br>
        <input type="submit" value="PAY" style="background-color: rgb(80, 73, 73);">
        {% if r == 2 %}
        <h1>not</h1>
        {% endif %}
    </form>

<br /> {% if payment %}
<form action="{% url 'payment:payment-status' %}" method="POST" >
    {% csrf_token %}
    <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_48Z9LMTDVAN5JU" data-amount="{{amount}}" data-currency="{{ payment.currency }}" data-order_id="{{payment.id}}" data-buttontext="Pay Directly to Seller" data-name="Hydaker Payment"
        data-description="Buy and Sell easy" data-image="https://example.com/your_logo.jpg" data-prefill.name="{{ payment.name }}" data-prefill.email="{{user.email}}" data-theme.color="#F37254"></script>
    <input type="hidden" custom="Hidden Element" name="hidden" style="background-color: red;">
</form>{% endif %}

</div>

</div>

{% endblock %}