<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
    {% include 'dashboard/dashboard_left_nav.html' %}
    {% include 'dashboard/top_nav.html' %}
    <!-- main content start-->
		<!-- //header-ends -->
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<div class="tables">
					<h3 class="title1">Tables</h3>
					<div class="panel-body widget-shadow">
						<h4>Payment Table </h4>
						<div>{% if messages %} {% for mess in messages %}
							<b style="color: brown;">{{mess}}</b> {% endfor %} {% endif %}</div>
					</div>
						<table class="table">
							<thead>
								<tr>
					
								  <th>Customer Name</th>
								  <th>Amount</th>
								  <th>Payment ID</th>
                                  <th>Order ID</th>
                                  <th>Total Amount </th>
                                  <th>Date</th>
                            
                                  <th>Paid Or Not</th>
            
								</tr>
							</thead>
							{% for l in userpay %}
							<tbody>
								<tr>
			
								  <td>{{l.user}}</td>
								  <td>{{l.amount}}</td>
                                  <td>{{l.payment_id}}</td>
                                  <td>{{l.order_id}}</td>
                                  <td>{{l.total_amount}}</td>
                                  <td>{{l.date}}</td>
								  {% if l.is_paid == True %}
								  <td>Paid</td>
								  {% else %}
								  <td>Not Paid</td>
								  {% endif %}
							
								</tr>
								
							</tbody>
							{% endfor %}
						</table>
					</div>

				</div>
			</div>
		</div>
		<!--footer-->
		{% include 'dashboard/dashboard_footer.html' %}

</body>
</html>
